@charset "utf-8";
.d-drag {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 100px;
    height: 50px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

}
.d-dialog {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #333;

}
.d-title {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    text-align: center;
    font-size: 21px;
    font-family: Microsoft Yahei;
    color: #fff;

}
.d-close {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    opacity: .8;
}
.d-close:hover {
    /* transform: rotate(180deg); */
    opacity: 1;

}
.d-close:before,
.d-close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 4px;
    background: #fff;
    overflow: hidden;
}
.d-close:before {
    transform: rotate(-45deg);
}
.d-close:after {
    transform: rotate(45deg);
}
.d-menu {
    position: absolute;
    z-index: 2;
    right: 60px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    opacity: .8;
}
.d-menu i {
    display: block;
    margin-top: 13px;
    width: 30px;
    height: 4px;
    background: #fff;
}
.d-menu:hover {
    opacity: 1;
}
.d-menu i:before, .d-menu i:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}
.d-menu i:before {
    transform: translate(0, 8px);
}
.d-menu i:after {
    transform: translate(0, -12px);
}
